apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    ports:
      web:
        exposedPort: {{ traefik_http_port }}
      websecure:
        exposedPort: {{ traefik_https_port }}
